In [55]:
import pandas as pd
import numpy as np

In [56]:
pwd

'C:\\Users\\Taufiq Abdullah\\Untitled Folder\\Untitled Folder\\Untitled Folder'

In [57]:
dataset=pd.read_csv("mallcustomerdiscount.csv.csv")
dataset

      Id    Age  Income  Gender Marital status  Buy
0      1    <21    High    Male         Single   No
1      2    <21    High    Male        Married   No
2      3  21-35    High    Male         Single  Yes
3      4    >35  Medium    Male         Single  Yes
4      5    >35     Low  Female         Single  Yes
..   ...    ...     ...     ...            ...  ...
198  199    >35    High    Male        Married   No
199  200    <21    High  Female         Single  Yes
200  201    >35    High    Male        Married   No
201  202    <21    High  Female         Single   No
202  203    <21    High  Female         Single  Yes

[203 rows x 6 columns]

In [58]:
dataset

      Id    Age  Income  Gender Marital status  Buy
0      1    <21    High    Male         Single   No
1      2    <21    High    Male        Married   No
2      3  21-35    High    Male         Single  Yes
3      4    >35  Medium    Male         Single  Yes
4      5    >35     Low  Female         Single  Yes
..   ...    ...     ...     ...            ...  ...
198  199    >35    High    Male        Married   No
199  200    <21    High  Female         Single  Yes
200  201    >35    High    Male        Married   No
201  202    <21    High  Female         Single   No
202  203    <21    High  Female         Single  Yes

[203 rows x 6 columns]

In [59]:
X= dataset.iloc[:,:-1]

In [60]:
X

      Id    Age  Income  Gender Marital status
0      1    <21    High    Male         Single
1      2    <21    High    Male        Married
2      3  21-35    High    Male         Single
3      4    >35  Medium    Male         Single
4      5    >35     Low  Female         Single
..   ...    ...     ...     ...            ...
198  199    >35    High    Male        Married
199  200    <21    High  Female         Single
200  201    >35    High    Male        Married
201  202    <21    High  Female         Single
202  203    <21    High  Female         Single

[203 rows x 5 columns]

In [61]:
y= dataset.iloc[:,5]

In [62]:
y

0       No
1       No
2      Yes
3      Yes
4      Yes
      ...
198     No
199    Yes
200     No
201     No
202    Yes
Name: Buy, Length: 203, dtype: object

In [63]:
from sklearn.preprocessing import LabelEncoder

In [66]:
labelencoder_X = LabelEncoder()

In [67]:
X= X.apply(LabelEncoder().fit_transform)

In [68]:
X

      Id  Age  Income  Gender  Marital status
0      0    1       0       1               1
1      1    1       0       1               0
2      2    0       0       1               1
3      3    2       2       1               1
4      4    2       1       0               1
..   ...  ...     ...     ...             ...
198  197    2       0       1               0
199  198    1       0       0               1
200  199    2       0       1               0
201  200    1       0       0               1
202  201    1       0       0               1

[203 rows x 5 columns]

In [69]:
from sklearn.tree import DecisionTreeClassifier

In [70]:
regressor = DecisionTreeClassifier()

In [71]:
regressor.fit=(X.iloc[:,1:5], y)

In [72]:
X_in = np.array([1,1,0,0])

In [52]:
y_pred = regressor.predict([X_in])

NotFittedError: This DecisionTreeClassifier instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [26]:
y_pred

NameError: name 'y_pred' is not defined

In [27]:
from sklearn.externals.six import StringIO

ModuleNotFoundError: No module named 'sklearn.externals.six'

In [28]:
from IPython.display import Image

In [29]:
from sklearn. tree import export_graphviz

SyntaxError: invalid syntax (<ipython-input-29-c8271925e23d>, line 1)

In [30]:
 import pydotplus

ModuleNotFoundError: No module named 'pydotplus'

In [31]:
dot_data= StringIO()

NameError: name 'StringIO' is not defined

In [32]:
export_graphviz(regressor, out_file= dot_data, filled = True, rounded = Ture, special_characters = True)

NameError: name 'export_graphviz' is not defined

In [73]:
graph= pydotplus.graph_from_dot_data(dot_data.getvalue())
graph.white_png('tree.png')

NameError: name 'pydotplus' is not defined